* {
	margin: 0;
	padding: 0;
}

.navbar {
    border: none;
    background-color: black;
    color: #d8c2ca;
    border-radius: 0;
}

#mynavbar{
    margin-top: 14px;
}

body {
	background-color: #dba6b9;
	color: white;
}

.container {
	background-color: grey;
}

h1{
    margin-bottom: 0;
}

h3, h2{
	text-align: center;
}

#myNavbar ul li a {
	color: black;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
    background-color: black;
    border-top: 1px solid grey;
}

.navbar-brand {
font-size: 30px;
color: aliceblue;
}

#chickstory{
    padding: 0 20px;
}

#menu-heading {
    margin-top: -10px;
}

/*Media Queries*/

@media(max-width:770px) {
	#myNavbar ul li a {
		text-align: center;
        color:aliceblue
	}
    #main-content{
        margin: 20px;
    }
    h1{
        font-size: 10px;
        margin-top: 0;
    }
}